/* Add your CSS here to style your halloween page */
body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.Pumpkins {
    color: orange;
}

.Bats {
    color: grey;
}

img {
  height: 500px;
  display: block;
  margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: orange;
}

footer {
    color: white;
}
