main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    text-align: center;
    font-size: 3em;
    grid-column: 2/3;
}

h2 {
    grid-column: 1/2;
    font-size: 20px;
}

h3 {
    grid-column: 2/3;
    font-size: 20px;
}

h4 {
    grid-column: 3/4;
    font-size: 20px;
}

h5 {
    grid-column: 1/2;
    font-size: 20px;
}

h6 {
    grid-column: 3/4;
    font-size: 20px;
}

img {
    grid-column: 2/3;
}

p {
    font-size: 20px;
    font-weight: bold;
}

ul {
    font-size: 20px;
    font-weight: bold;
}

form {
    font-size: 20px;
    font-weight: bold;
}
.header{
    background:green;
    color:#fff;
    padding:1rem 0;
}
.link{
    color: white;
    text-decoration: none;
}
.header-row{
    display:flex;
    align-items:center;
    gap:1rem;
    text-align: right;
    font-size: large;
}
.form{
    text-align: center;
}